apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: observability-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: prometheus.ticketing.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: prometheus-srv
                port:
                  number: 9090
    - host: grafana.ticketing.dev
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: grafana-srv
                port:
                  number: 3000
